/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=DynaPuff");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    
    /*========== Colors ==========*/
    --first-color: #d30b2c;
    --first-color-alt: #FFFFFF;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;
    --nav-text-color: #D3D3D3;
    
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    
    /*========== Margenes ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

.code
{
    border:0;
    margin: 0 -11% 0 12%;       
    float:left;           
 }

/*========== BASE ==========*/
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
    width: 100%;
}

h1,h2,h3,p,ul{
    margin: 0;
}


ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    height: auto;
}

/*========== CLASS CSS ==========*/
.section{
    overflow-x: hidden;
    padding-top: 4.5em;
}

.section-title, .section-subtitle{
    text-align: center;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle{
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container{
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left:auto;
    margin-right:auto;
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-fixed);
}

/*========== NAV ==========*/
.nav{
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 1rem 1rem 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
    margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle{
    color: var(--nav-text-color);
    font-weight: var(--font-semi-bold);
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__link{
    transition: .3s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

/* Show menu */
.show-menu{
    top: var(--header-height);
}

/* Active menu */
.active-link{
    color: var(--first-color);
}

/* Change background header */
.scroll-header{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: var(--first-color);
    color: var(--first-color-alt);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover{
    background-color: var(--first-color-alt);
    color: var(--first-color);
}

.scrolltop__icon{
    font-size: 1.8rem;
}

/* Show scrolltop */
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

.noborder{
    border: none;
    height : 42px;
    border-radius: 21px;
    padding: 5px 22px 0px 22px;
    margin-bottom: 10px;
    background-color: #efefef;
    width: 75%;
}

/*========== HOME ==========*/
#home{
    position: relative;
    z-index: 10;
}
#home_img{
    position: relative;
	overflow: hidden;
	z-index: -1;
	height: 100vh;
	max-width: 100%;
    display:flex;
}

.slider {
    user-select: none;
    touch-action: pan-y;
}

.slider-track{
    display: flex;
    height: 100vh;
}

.slide{
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.slide img{
    width: 100%;
    z-index: -1;
}

.slider-list {
    overflow: hidden;
}

.slider-list.grab {
    cursor: grab;
}

.slider-list.grabbing{
    cursor: grabbing;
}

.slider-track {
    display: flex;
    width: 400vw;
}

.slider-arrows {
    position: absolute;
    margin-top: 50vh;
    text-align: center;
    width: 100%;
}

#next {
    color: #333;
    display: inline-block;
    font: normal bold 1em Arial,sans-serif;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 94%;
    text-decoration: none;
    width: auto;
}

#prev {
    color: #333;
    display: inline-block;
    font: normal bold 1em Arial,sans-serif;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 1%;
    text-decoration: none;
    width: 6%;
}

#next,
#prev { padding: 10vh calc(1vh + 1vw) }

#next { text-align: right }

#next:before,
#next:after,
#prev:before,
#prev:after {
    background: #333;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    content: "";
    display: block;
    height: calc(0.4vh + 0.4vw);
    position: absolute;
    right: 0;
    top: 50%;
    width: 1.8em;
}

#prev:before,
#prev:after { left: 0 }

#next:before,
#prev:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#next:after,
#prev:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#prev:after,
#next:before { margin-top: -1em }

#next:hover,
#next:focus,
#prev:hover,
#prev:focus { color: #c00 }

#next:hover:before,
#next:hover:after,
#next:focus:before,
#next:focus:after,
#prev:hover:before,
#prev:hover:after,
#prev:focus:before,
#prev:focus:after { background: #c00 }

.home_data{
    position: absolute;
    z-index:20;
    margin-left: 17vw;
    margin-top: 55vh;
}

.home__container{
    height: calc(100vh - var(--header-height));
    align-content: center;
    overflow-x:hidden;
}

.home__title{
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.home__subtitle{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-4);
    position: relative;
    z-index:20;
}

.home__img{
    position: relative;
    width: 150px;
    justify-self: center;
    z-index:20;
    margin-left:0;
}

#about{
    background-color: #CED6D9;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.about__container{
  overflow-x:hidden;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/*========== BUTTONS ==========*/
.button{
    display: inline-block;
    position: relative;
    background-color: var(--first-color);
    color: #FFFFFF;
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: .3s;
    z-index: 30;
}

.button:hover{
    background-color: transparent;
    color: var(--first-color);
    font-weight: bold;
    font-size: 20px;
}

/*========== ABOUT ==========*/
.about__data{
    text-align: center;
}

.about__description{
    margin-bottom: var(--mb-3);
}

.about__img{
    width: 90vw;
    justify-self: center;
}

/*========== spec ==========*/
.spec__container{
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    overflow-x:hidden;
    overflow-y:hidden;
}

.spec__content{
    text-align: center;
    width: 250px;
    margin: 0 auto 0 auto;
}

.spec__img{
    width: 100px;
    height: 100px;
    fill: var(--first-color);
}

.spec__title{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.spec__description{
    padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    overflow-x:hidden;
    overflow-y:hidden;
    padding: 0 0 2em 0;
}

.menu__content{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: 0;
    overflow: hidden;
}
.menu__content:hover img{
    transition: .5s;
    transform: scale(1.15);
}

.hover_img{
    visibility: hidden;
    opacity: 0;
    transition : visibility 0s, opacity 0.8s linear;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 310px;
    z-index: 100;
}

.menu__content:hover .hover_img{
    visibility: visible;
    opacity: 1;
}

.menu__img{
    width: 500px;
    height: 310px;
    align-self: center;
    margin-bottom: var(--mb-3);
}

.menu__name, .menu__preci{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.menu__name{
    font-size: var(--normal-font-size);
}

.menu__detail, .menu__preci{
    font-size: var(--small-font-size);
}

.menu__detail{
    margin-bottom: var(--mb-1);
}

.menu__button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 1rem 1.2rem 1rem 1rem;
    border-radius: .5rem 0 .5rem 0;
}

/*========== CONTACT ==========*/
.contact__container{
    text-align: center;
    overflow-x:hidden;
    margin-top: -0.5em;
}

.contact__description{
    margin-bottom: var(--mb-3);
}

.star{
    color: var(--first-color);
}

/*========== FOOTER ==========*/
.footer__container{
    overflow-x:hidden;
}

.footer__logo{
    font-size: var(--h3-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.footer__description{
    display: block;
    font-size: var(--small-font-size);
}

.footer__social{
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-2);
}

.footer__title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-2);
}

.footer__link{
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}

.footer__link:hover{
    color: var(--first-color);
}

.footer__copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
    .about__container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        overflow-x:hidden;
    }
    
    .about__data, .about__initial{
        overflow-x:hidden;
        text-align: initial;
    }
    
    .about__img{
        width: 100%;
        order: -1;
    }
    
    .contact__container{
        grid-template-columns: 2fr 1fr;
        align-items: center;
        overflow-x:hidden;
    }
    .contact__button{
        justify-self: center;
        margin: 0 0 0 -30vw;
    }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }

    .section{
        height: 100vh;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }

    .change-theme{
        position: initial;
        margin-left: var(--mb-2);
    }
    
    .home__container{
        height: 100vh;
        justify-items: center;
        overflow-x:hidden;
    }

    .spec__container,
    .menu__container{
        margin-top: var(--mb-6);
        overflow-x:hidden;
        padding-bottom: 2em;
    }
    
    .menu__container{
    grid-template-columns: repeat(2, 500px);
        overflow-x:hidden;
    }
    .menu__content{
        padding: 0;
    }
    .footer__container{
        grid-template-columns: 2fr repeat(2, minmax(220px, 1.1fr));
        row-gap: 2rem;
    }
}

@media screen and (min-width: 960px){
    .bd-container{
        width: calc(100% - 2rem);
        margin-left: auto;
        margin-right: auto;
    }
    
    .about__container{
        overflow-x:hidden;
        column-gap: 7rem;
        height: 100vh;
        margin-top: -8em;
    }
}

/* For tall screens on mobiles y desktop*/
@media screen and (max-width: 1080px) {
    .about__container{
        width: 100vw;
        overflow-x:hidden;
    }
    .section{
        height:100vh;
        width: 100%;
        padding-top: 8em;
    }
    #home{
        position: relative;
        z-index: 10;
        margin-top: 0em;
    }   
    #home_img{
        position: relative;
    	overflow: hidden;
    	z-index: -1;
    	max-width: 100%;
        height: 100vh;
        display:flex;
    }
    
    #scrollingPic{
        height: 100vh;
        background-size: cover; 
    }
    
    .menu__container{
        grid-template-columns: repeat(1, 90vw);
        column-gap: 2rem;
        overflow:hidden;
    }
}
